@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-image: url("../img/fondo2.jpg");
  background-position: top center;
  margin: 0px;
  height: auto;
}

img {
  max-width: 100%;
  margin: 20px;
}

.logo__navbar {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ol li {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  color: #BFC9CA;
  letter-spacing: 1px;
}

ul li ol li {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  color: #BFC9CA;
  letter-spacing: 1px;
}

form {
  color: #BFC9CA;
}

.novedades__imagenMB {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 275px;
}

.head__titulo {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Quicksand", sans-serif;
  color: #BFC9CA;
  letter-spacing: 1px;
  line-height: 50px;
  font-size: 30px;
  background-color: #34495E;
  border: 10px;
  padding: 10px;
  border: #F8C471 solid 2px;
  text-align: center;
  min-width: 350px;
}

.subtitulo__titulo {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #E5E8E8;
  letter-spacing: 1px;
  line-height: 50px;
  font-size: 40px;
  background-color: #34495E;
  border: 10px;
  padding: 10px;
  border: #F8C471 solid 2px;
  text-align: center;
}

h4 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #E5E8E8;
  letter-spacing: 1px;
  line-height: 40px;
  font-size: 30px;
  background-color: #34495E;
  border: 10px;
  padding: 10px;
  border: #F8C471 solid 2px;
  text-align: center;
}

.head__Texto {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Quicksand", sans-serif;
  color: #E5E8E8;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 15px;
  background-color: #34495E;
  border: 30px;
  padding: 10px;
  text-align: center;
}

.formularioContacto {
  font-family: "Quicksand", sans-serif;
  color: #E5E8E8;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 15px;
  margin: 100px;
  margin-top: 15px;
  margin-bottom: 0px;
  border: 30px;
  padding: 10px;
  text-align: center;
}

header {
  width: 100%;
  text-decoration: none;
}

.alignImgIndex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 275px;
}

.gallery__propiedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 15px;
  height: 250px;
  width: 350px;
}

#contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.galeriaUsados {
  padding: 25px;
  border: 15px;
}

.footer {
  background: #343A40;
  padding: 12px;
  margin: 10px;
  font-size: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sizeImgNuestosV {
  width: 300px;
  height: 200px;
}

.caracteristicas__table {
  font-family: "Montserrat", sans-serif;
  color: #E5E8E8;
  letter-spacing: 1px;
  line-height: 20px;
  font-size: 15px;
  background-color: #34495E;
  margin-left: 5px;
  margin-right: 5px;
}

.conteiner {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapping__propiedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.estiloLogo {
  width: 100%;
  max-width: 250px;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%;
  -webkit-box-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    -webkit-box-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    -webkit-box-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

body {
  font-family: "Quicksand", sans-serif;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: red;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: none;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: #BFC9CA;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #34495E;
  color: silver;
}

.active {
  background-color: none;
  color: #BFC9CA;
}
/*# sourceMappingURL=estilo.css.map */