
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



$fuentePrincipal: 'Quicksand', sans-serif;
$fuenteSecubdaria: 'Montserrat', sans-serif;
$colorPrincipal: #BFC9CA;
$colorSecundario:#E5E8E8;
$colorBackGroud: #34495E;
@mixin estiloImg{
	display: block;
	margin-left: auto;
	margin-right: auto; 
	height: 275px;
} 

body {
	background-image: url("../img/fondo2.jpg");
	background-position:top center;
	margin: 0px;
	height: auto;
}

img {
  max-width: 100%;
  margin: 20px;
}

.logo__navbar{
	display: grid;
	justify-content: center;
	align-items: center;
}

ul li {
	display: grid;
	justify-content: center;
	align-items: center;
}

ol li{
	font-size: 20px;
	font-family: $fuentePrincipal;
	color: $colorPrincipal;
	letter-spacing: 1px;
}
ul li ol li{
	font-size: 20px;
	font-family: $fuentePrincipal;
	color: $colorPrincipal;
	letter-spacing: 1px;
}

form{
	color: $colorPrincipal;
}
.novedades__imagenMB{
	@include estiloImg;
	
}

.head__titulo{
	display: grid;
	justify-content: center;
	align-items: center;
	font-family: $fuentePrincipal;
	color: $colorPrincipal;
	letter-spacing: 1px;
	line-height: 50px;
	font-size: 30px;
	background-color: $colorBackGroud;
	border: 10px;
	padding: 10px;
	border: #F8C471 solid 2px;
	text-align: center;
	min-width: 350px;
}

.subtitulo__titulo{
	display: grid;
	justify-content: center;
	align-items: center;
	font-family: $fuenteSecubdaria;
	color: $colorSecundario;
	letter-spacing: 1px;
	line-height: 50px;
	font-size: 40px;
	background-color: $colorBackGroud;
	
	border: 10px;
	padding: 10px;
	border: #F8C471 solid 2px;
	text-align: center;
}

h4{
	display: grid;
	justify-content: center;
	align-items: center;
	font-family: $fuenteSecubdaria;
	color: $colorSecundario;
	letter-spacing: 1px;
	line-height: 40px;
	font-size: 30px;
	background-color: $colorBackGroud;
	
	border: 10px;
	padding: 10px;
	border: #F8C471 solid 2px;
	text-align: center;
}

.head__Texto{
	display: grid;
	justify-content: center;
	align-items: center;
	font-family: $fuentePrincipal;
	color: $colorSecundario;
	letter-spacing: 1px;
	line-height: 30px;
	font-size: 15px;
	background-color: $colorBackGroud;
	
	border: 30px;
	padding: 10px;
	text-align: center;
}

.formularioContacto{
	font-family: $fuentePrincipal;
	color: #E5E8E8;
	letter-spacing: 1px;
	line-height: 30px;
	font-size: 15px;
	margin:100px;
	margin-top: 15px;
	margin-bottom: 0px;
	border: 30px;
	padding: 10px;
	text-align: center;
}

header{
	width: 100%;
	text-decoration: none;
}

.alignImgIndex{
	@include estiloImg;
}

.gallery__propiedades{
	display: flex;
	justify-content: space-around;
	margin: 15px;
	height: 250px;
	width: 350px;
}

#contacto{
	display: flex;
	justify-content: space-around;
	align-items: center;

}

#contacto form{
	display: flex;
	flex-direction: column;
}

.galeriaUsados{
	padding: 25px;
	border: 15px;
}

.footer{
	background: #343A40;
	padding: 12px;
	margin: 10px; 
	font-size: 30px;
	flex-direction: row;
	justify-content: space-around;
}

.sizeImgNuestosV{
	width: 300px;
	height: 200px;
}

.caracteristicas__table{
	font-family: $fuenteSecubdaria;
	color: $colorSecundario;
	letter-spacing: 1px;
	line-height: 20px;
	font-size: 15px;
	background-color: $colorBackGroud;
	margin-left: 5px;
	margin-right: 5px;
}


.conteiner {
	display: grid;
	justify-content: center;
	align-items: center;
}

.wrapping__propiedades{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.container{
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.estiloLogo{
		width: 100%;
		max-width: 250px;
		height: auto;
}


* {
	box-sizing: border-box;
  }
  
  body {
	margin: 0;
	font-family: Arial;
  }
  
  .header {
	text-align: center;
	padding: 32px;
  }
  
  .row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  .column {
	-ms-flex: 25%;
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }
  
  @media screen and (max-width: 800px) {
	.column {
	  -ms-flex: 50%;
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  @media screen and (max-width: 600px) {
	.column {
	  -ms-flex: 100%;
	  flex: 100%;
	  max-width: 100%;
	}
  }